body{
    background-color: #d5d3d3;
}
@font-face{
    font-family: Roboto;
    src: url(Roboto/Roboto-Black.ttf);
}
h1{
    font-family: Roboto;
}
html{
    font-size: 6pt;
}
p:nth-child(1){
    font-size: 2.5rem;
    color: rgb(64, 69, 55);
}
p:nth-child(2){
    font-size: 2.5rem;
    color: rgb(64, 69, 55);
}
@media (min-width: 480px){
    html{
        font-size: 9pt;
        text-shadow: 0 0 2px #928e8e;
    }
    h2{
        text-decoration: underline dotted;
    }
    body{
        background-color: rgb(231, 225, 218);
    }
}
@media (min-width: 768px){
    html{
        font-size: 12pt;
        font-family: sans-serif;
        text-shadow: 0 0 4px #928e8e;
    }
    h1{
        text-transform: capitalize;
    }
}
@media (min-width: 1000px){
    html{
        font-size: 15pt;
        text-shadow: 0 0 6px #928e8e;
    }
    h1{
        text-transform: uppercase;
    }
}